<div class="section">
    //= header.html
    <div class="abon-serv-help">
        <h2 class="abon-serv-help__h2">мы можем помочь</h2>
        <div class="abon-serv-help__text">
            <p>В современном мире деятельность организации любого масштаба сопряжена с различного рода рисками. Чтобы обезопасить организацию от нежелательных правовых последствий и незапланированных финансовых трат, необходимо юридическое сопровождение ее деятельности.</p>
            <p>Если в штате вашей организации нет юриста или ваша организация развивается быстрее, чем растет ее штат, а возникающие на постоянной основе вопросы требуют взвешенного подхода и грамотного оформления, мы можем осуществить юридическое сопровождение деятельности вашей организации в форме абонентского обслуживания.</p>
        </div>
        <div class="abon-serv-help__content">
            <div class="abon-serv-help__row">
                <h3 class="abon-serv-help__h3">Консалтинговое сопровождение</h3>
                <ul class="abon-serv-help__list">
                    <li><a href="#">Устное и письменное консультирование по вопросам хозяйственной деятельности, подготовка правовых заключений по вопросам применения действующего законодательства</a></li>
                    <li><a href="#">Информационное обеспечение деятельности (предоставление нормативных актов, справочной информации по правовой тематике)</a></li>
                </ul>
            </div>
            <div class="abon-serv-help__row">
                <h3 class="abon-serv-help__h3 h3-abon-2">Базовое сопровождение</h3>
                <ul class="abon-serv-help__list">
                    <li><a href="#">Разработка и правовой анализ всех видов договоров, контрактов, соглашений и иных видов юридических документов</a></li>
                    <li><a href="#">Помощь в подготовке проектов локальных нормативно-правовых актов предприятия</a></li>
                    <li><a href="#">Правовое обеспечение трудовых отношений</a></li>
                    <li><a href="#">Правовое обеспечение хозяйственных сделок</a></li>
                    <li><a href="#">Подготовка изменений, вносимых в учредительные документы</a></li>
                    <li><a href="#">Подготовку исковых заявлений, жалоб, претензий, ходатайств и иных процессуальных документов</a></li>
                </ul>
            </div>
            <div class="abon-serv-help__row">
                <h3 class="abon-serv-help__h3 h3-abon-3">Сопровождение «под ключ»</h3>
                <ul class="abon-serv-help__list">
                    <li><a href="#">Участие в переговорах при заключении договоров, при разрешении разногласий в связи с неисполнениемили ненадлежащим исполнением договоров</a></li>
                    <li><a href="#">Представление интересов в отношениях с государственными органами и организациями, должностными лицами, юридическими и физическими лицами</a></li>
                    <li><a href="#">Представление интересов в судах</a></li>
                </ul>
            </div>
            <a class="button abon-serv-help__button" href="#">записаться на бесплатную консультацию</a>
        </div>
    </div>
</div>
