<div class="section">
    <div class="basic-help arbitrage-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>Согласно законодательству, существует два вида судов: суды общей юрисдикции и арбитражные суды. Арбитражный процесс регулирует отношения между юридическими лицами, органами местного самоуправления и иными государственными органами. Таким образом, чтобы обжаловать решение должностного лица, решить хозяйственный спор или взыскать дебиторскую задолженность, необходимо обратиться в Арбитражный суд.</p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul>
                    <li><a href="#">признание сделки недействительной</a></li>
                    <li><a href="#">хозяйственные споры </a></li>
                    <li><a href="#">корпоративные споры </a></li>
                    <li><a href="#">споры по договорам различных категорий </a></li>
                    <li><a href="#">споры с государственными органами</a></li>
                    <li><a href="#">залоговые споры</a></li>
                    <li><a href="#">споры по неосновательному обогащению</a></li>
                    <li><a href="#">споры об интеллектуальной собственности и присвоении результатов творческой деятельности</a></li>
                    <li><a href="#">споры по административным правонарушениям</a></li>
                    <li><a href="#">инвестиционные споры</a></li>
                    <li><a href="#">имущественные споры с государственными органами и юридическими лицами</a></li>
                    <li><a href="#">оспаривание решений, принятых федеральной антимонопольной службой</a></li>
                    <li><a href="#">оспаривание действий и решений судебных приставов, обжалование бездействия представителей органов государственной власти</a></li>
                    <li><a href="#">обжалование судебных приказов</a></li>
                    <li><a href="#">банкротство юридических лиц</a></li>
                    <li><a href="#">защита таможенных брокеров и посредников</a></li>
                    <li><a href="#">взыскание арендных платежей</a></li>
                    <li><a href="#">взыскание дебиторской задолженности и неустойки</a></li>
                    <li><a href="#">возврат имущества из чужого незаконного владения</a></li>
                    <li><a href="#">возврат из бюджета денежных средств, списанных органами, осуществляющими контрольные функции, в бесспорном порядке с нарушением требований законодательства</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
