<div class="section">
    //= header-white.html
    <div class="basic-help autojurist-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p><b>Автоюрист</b> – это надежная правовая поддержка профессионального специалиста, который постоянно находится в курсе изменений действующего законодательства и готов отстаивать ваши интересы, дать вам компетентную консультацию, помочь в оценке нанесенного ущерба от ДТП, составить и подать в соответствующие инстанции необходимые документы и представлять ваши интересы во всех органах власти как в досудебном урегулировании спора, так и в судебном заседании.</p>
                <p><b>Автоюрист</b> – это незаменимый помощник для любого автомобилиста, которому каждый день приходится сталкиваться с множеством уникальных ситуаций и несправедливостью на дорогах. Законодательство меняется слишком быстро и часто очень запутано. Чтобы разобраться в его тонкостях, не имея опыта, понадобится помощь опытного автоюриста.</p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul>
                    <!--<li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>-->
                    <li><a href="#">представление интересов при ДТП</a></li>
                    <li><a href="#">споры со страховой компанией</a></li>
                    <li><a href="#">возмещение причиненного вреда</a></li>
                    <li><a href="#">невиновное причинение вреда</a></li>
                    <li><a href="#">обжалование действий и постановлений сотрудников ГИБДД</a></li>
                    <li><a href="#">обжалование судебных постановлений</a></li>
                    <li><a href="#">лишение (возврат) водительских прав</a></li>
                    <li><a href="#">взыскание ущерба при попадании в яму на дороге </a></li>
                    <li><a href="#">скрытие с места ДТП</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
