<div class="section">
    //= header.html
    <div class="basic-main autojurist-main">
        <div class="basic-main__wrap">
            <h1 class="basic-main__h1">автоюрист</h1>
            <br>
            <p class="basic-main__desc">юрист, как лечащий врач —должен быть высшей категории</p>
        </div>
        <div class="button_down" id="scroll_down">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
            <div>
                <span class="m_scroll_arrows unu"></span>
                <span class="m_scroll_arrows doi"></span>
            </div>
        </div>
    </div>
</div>
