<div class="section">
    <div class="basic-help collector-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>Случается, что для решения срочной финансовой проблемы необходимо взять кредит в банке или микрофинансовой организации. Однако, не всегда случается вовремя выплатить этот кредит. В таких случаях банки и микрофинансовые организации могут продать ваш долг коллекторским агентствам.</p>
                <p>Каждый из нас хоть раз слышал о методах работы коллекторов за известный период их существования. В настоящее время законодатель значительно ограничил их возможности при работе по взысканию проблемной задолженности и работе с должниками. Несмотря на это, деятельность коллекторов оставляет за собой множество различных жалоб, в том числе на непрекращающиеся звонки и некорректное поведение по телефону, звонки третьим лицам и другие действия.</p>
                <p>Если у вас нет возможности погасить свои кредитные обязательства в короткие сроки, а деятельность коллекторов явно выходит за пределы законной, и вы задаетесь вопросом о том, как прекратить противоправные действия, мы вам поможем! Мы оказываем юридическую помощь при незаконной деятельности коллекторских агентств. </p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul>
                    <!--<li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>-->
                    <li><a href="#">отзыв персональных данных </a></li>
                    <li><a href="#">обжалование действий коллекторов в надзорных и правоохранительных органах</a></li>
                    <li><a href="#">привлечение коллекторов к административной и уголовной ответственности</a></li>
                    <li><a href="#">компенсация морального вреда</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
