<div class="section">
    <div class="basic-help consumer-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>Ежедневно мы ходим в супермаркеты, пользуемся услугами сотовой связи, заказываем товары через интернет-магазины, приобретаем бытовую технику или путевки за границу, чтобы отправиться в отпуск. При этом, наверное, каждый из нас сталкивался с тем, что товар оказался бракованным или по иным причинам непригодным к использованию, но это выяснилось после его покупки, а оказанные услуги – некачественными или оказывались не в обещанные исполнителем сроки.</p>
                <p>Такого рода отношения между продавцом и покупателем, а также между исполнителем и заказчиком регулируются ФЗ «О защите прав потребителей».</p>
                <p>Если вы не знаете как поступить в случае, когда ваши права как покупателя или заказчика нарушены, а продавец или исполнитель отказываются признавать свою вину, будьте уверены: закон на вашей стороне. Записывайтесь к нам на консультацию, в рамках которой мы проанализируем произошедшее в рамках действующего законодательства, предложим пути решения и, при необходимости, поможем в решении таких вопросов.</p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul>
                    <!--<li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>-->
                    <li><a href="#">замена и возврат товара</a></li>
                    <li><a href="#">возврат технически сложных товаров</a></li>
                    <li><a href="#">соразмерное уменьшение покупной цены</a></li>
                    <li><a href="#">устранение недостатков товара за счет продавца</a></li>
                    <li><a href="#">возврат денежных средств, уплаченных за товар ненадлежащего качества</a></li>
                    <li><a href="#">возврат денежных сумм, уплаченных за некачественную услугу</a></li>
                    <li><a href="#">взыскание неустойки за просрочку требования потребителя</a></li>
                    <li><a href="#">компенсация ущерб, причиненный товаром ненадлежащего качества</a></li>
                    <li><a href="#">расторжение договора страхования, навязанного при заключении кредитного договора, а равно и любого иной навязанной услуги (товара)</a></li>
                    <li><a href="#">признание условий договора, ущемляющих права потребителя, недействительными</a></li>
                    <li><a href="#">нарушение исполнителем сроков выполнения работ</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
