<div class="section">
    <div class="basic-help contractual-right-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>С договорными отношениями сталкиваются как физические лица (например, при покупке мебели, при поручении ответственного хранения имущества, предоставлении в долг денежных средств), так и различные организации (в вопросах поставки товара, проведения работ). Ввиду того, что договорное право, как и любая другая отрасль права, находится в постоянном развитии, получают развитие и различного рода сделки. Но просто заключить сделку – это лишь первый шаг. Следующий шаг – это грамотно составить письменный документ с закрепленными правами и обязанностями сторон, в том числе содержащий сведения о денежных обязательствах или требованиях неимущественного характера и иными существенными условиями.</p>
                <p>Все условия договора должны, во-первых, соответствовать законодательству, поскольку иначе сделки могут быть признаны недействительными, незаключенными, кабальными, ничтожными и т.д., а во-вторых, реально осуществимыми. При неграмотном составлении договора, стороны могут понести неспрогнозированные и нежелательные риски, вследствие чего заключенная сделка станет невыгодной и нецелесообразной с точки зрения ее совершения.</p>
                <p>С целью учета и соблюдения ваших законных прав и интересов мы предоставляем услуги по правовому анализу и составлению, расторжению, признанию договора недействительным, ничтожным, незаключенным и т.д.</p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul>
                    <!--<li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>-->
                    <li><a href="#">договор купли-продажи</a></li>
                    <li><a href="#">договор мены</a></li>
                    <li><a href="#">договор дарения</a></li>
                    <li><a href="#">договор аренды</a></li>
                    <li><a href="#">договор страхования</a></li>
                    <li><a href="#">договор залога</a></li>
                    <li><a href="#">договор ипотеки</a></li>
                    <li><a href="#">договор займа</a></li>
                    <li><a href="#">договор оказания услуг</a></li>
                    <li><a href="#">договор подряда</a></li>
                    <li><a href="#">договор перевозки</a></li>
                    <li><a href="#">договор цессии</a></li>
                    <li><a href="#">брачного договор</a></li>
                    <li><a href="#">договор ответственного хранения</a></li>
                    <li><a href="#">договор поручения</a></li>
                    <li><a href="#">подряда на выполнение проектных и изыскательских работ</a></li>
                    <li><a href="#">иных договоров и соглашений</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
