<div class="section">
    <div class="basic-help corporate-law-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>Суть любой коммерческой организации – извлечение прибыли. Увеличению же прибыли способствует развитие организации. А вместе с развитием неизбежно возникают вопросы, лежащие в сфере корпоративного права, в том числе по изменению состава учредителей, реорганизацией, увеличением объемов работы кадрового подразделения и бухгалтерии, защитой деловой репутации.</p>
                <p>Мы предлагаем широкий спектр юридических услуг в сфере корпоративного права.</p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul class="col-help">
                    <!--<li><a href="#">помогаем в вопросах</a></li>-->
                    <li><a href="#">регистрация ИП, ООО</a></li>
                    <li><a href="#">разработка учредительных документов </a></li>
                    <li><a href="#">внесение изменений в учредительные документы</a></li>
                    <li><a href="#">ведение дел в арбитражном суде</a></li>
                    <li><a href="#">банкротство юридических лиц</a></li>
                    <li><a href="#">взыскание дебиторской задолженности</a></li>
                    <li><a href="#">реорганизация: разделение, преобразование, слияние </a></li>
                    <li><a href="#">обжалование постановлений ФНС</a></li>
                    <li><a href="#">составление внутрикорпоративной документации </a></li>
                    <li><a href="#">рекомендации для отдела кадров предприятия </a></li>
                    <li><a href="#">разработка положений о структурных подразделениях предприятия</a></li>
                    <li><a href="#">обжалование судебных решений</a></li>
                    <li><a href="#">представительство в переговорах с банками</a></li>
                    <li><a href="#">правовая экспертиза договоров </a></li>
                    <li><a href="#">признание решений общих собраний недействительными</a></li>
                    <li><a href="#">рейдерские захваты</a></li>
                    <li><a href="#">изменение состава участников организации</a></li>
                    <li><a href="#">смена генерального директора</a></li>
                    <li><a href="#">изменение наименования </a></li>
                    <li><a href="#">изменение адреса местонахождения </a></li>
                    <li><a href="#">увеличение и уменьшение уставного капитала </a></li>
                    <li><a href="#">изменение видов деятельности</a></li>
                    <li><a href="#">взыскание с компании убытков, причиненных учредителям(акционерам)</a></li>
                    <li><a href="#">взыскание дивидендов</a></li>
                    <li><a href="#">защита деловой репутации</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
