<div class="section">
    //= header.html
    <div class="basic-help credit-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>На сегодняшний день, наличие кредитных обязательств не является чем-то из ряда вон выходящим, особенно после начала работы микрофинансовых организаций. При подписании договоров банками часто практикуется доведение информации до заемщиков не в полном объеме, а также навязывание тех или иных услуг, что вызывает негативную реакцию, а равно негативные юридические последствия, которые представляют собой переплаты, неподъемные размеры кредитных платежей, высокую стоимость обслуживания банком кредита, передачу кредитных дел коллекторам, противоправные действия по списанию либо незачислению денежных средств, начисление процентов, штрафов и неустоек без явных на то оснований, а при наличии оснований – баснословно превышающие пределы, установленные гражданским законодательством РФ.</p>
                <p>Но как показывает практика кредитные споры далеко не всегда безнадежны и из многих ситуаций возможно найти выход. Наши профессионалы могут предложить варианты решений при кредитном споре.</p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul>
                    <!--<li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>-->
                    <li><a href="#">защита от безакцептного списания с зарплатной карты</a></li>
                    <li><a href="#">реструктуризация </a></li>
                    <li><a href="#">рефинансирование</a></li>
                    <li><a href="#">расторжение кредитного договора</a></li>
                    <li><a href="#">расторжение договора уступки права требования</a></li>
                    <li><a href="#">расторжение договора страхования</a></li>
                    <li><a href="#">снижение комиссий, неустоек, штрафов, пени</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
