<div class="section">
    //= header.html
    <div class="basic-help autojurist-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>Уголовное право устанавливает право на защиту подозреваемого (обвиняемого) в уголовном процессе. Насколько эффективной будет эта защита зависит от адвоката и выработанной им стратегии. В кругу правоохранительных органов ни для кого не является секретом, что наилучшую защиту подозреваемому (обвиняемому) обеспечивает адвокат по соглашению, а не защитник, назначенный следователем в соответствии со ст. 51 УПК РФ.</p>
                <p>Следует также понимать, что каждый случай является уникальным и имеет самостоятельные предпосылки для возникновения ситуации, которая подлежит рассмотрению в рамках уголовного судопроизводства. Только адвокат, выбранный вами лично, будет действовать в ваших интересах таким образом, чтобы соблюсти все требования действующего уголовно-процессуального законодательства, поможет выработать правовую позицию по уголовному делу и будет отстаивать ее на протяжении всего срока предварительного следствия и рассмотрения дела в суде.</p>
                <p>Если же вы являетесь потерпевшим по уголовному делу и не согласны с квалификацией инкриминируемого обвиняемому деяния, не знаете как возместить причиненный материальный ущерб и моральный вред, обжаловать действия (бездействие) следователя (дознавателя) мы проведем необходимый анализ и поможем вам составить необходимые процессуальные документы на любой стадии уголовного дела.</p>
            </div>
            <div class="basic-help__list">
                <ul>
                    <li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>
                    <li><a href="#">защита подозреваемых (обвиняемых) на любой стадии уголовного судопроизводства</a></li>
                    <li><a href="#">представление интересов потерпевших и свидетелей </a></li>
                    <li><a href="#">изучение материалов проверки/уголовного дела</a></li>
                    <li><a href="#">выработка правовой позиции на стадии материала проверки/уголовного дела</a></li>
                    <li><a href="#">обжалование приговоров и иных судебных постановлений</a></li>
                    <li><a href="#">обжалование постановлений следователя/дознавателя и иных решений должностных лиц правоохранительных органов</a></li>
                    <li><a href="#">подготовка ходатайств, жалоб и заявлений</a></li>
                    <li><a href="#">подготовка ходатайств, жалоб и заявлений составление гражданского иска</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
