<div class="section">
    <div class="basic-help executor">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>Исполнительное производство призвано принудительно взыскивать с должников в пользу взыскателей денежные средства на основании исполнительных документов, перечень которых установлен ФЗ «Об исполнительном производстве». Основными исполнительными документами являются исполнительный лист и судебный приказ, которые можно получить исключительно в судебном порядке. Решения судов, прописанные в исполнительных документах, исполняются Федеральной службой судебных приставов.</p>
                <p>Если вы являетесь должником и считаете действия судебного пристава-исполнителя неправомерными, а размеры списываемых денежных средств превышают установленные законом, если пенсия удерживается в 100% объеме, мы поможем вам расставить все точки над «i» и подготовим необходимые документы для восстановления нарушенных прав, а при необходимости выйдем на переговоры и в судебные заседания.</p>
                <p>Если вы не являетесь ни должником, ни взыскателем, но на вашу собственность наложен запрет на совершение регистрационных действий, то данные действия всегда можно в досудебном порядке урегулировать, а виновное должностное лицо привлечь к ответственности.</p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul>
                    <!--<li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>-->
                    <li><a href="#">получение исполнительного листа, судебного приказа</a></li>
                    <li><a href="#">взыскание задолженности с физических и юридических лиц</a></li>
                    <li><a href="#">взыскание алиментов</a></li>
                    <li><a href="#">арест имущества должника</a></li>
                    <li><a href="#">арест денежных средств на счетах</a></li>
                    <li><a href="#">арест иных активов</a></li>
                    <li><a href="#">запрет на совершение регистрационных действий</a></li>
                    <li><a href="#">реализация имущества за долги</a></li>
                    <li><a href="#">взыскание из заработной платы и пенсии</a></li>
                    <li><a href="#">неправомерные арест и взыскание</a></li>
                    <li><a href="#">исполнение требований неимущественного характера</a></li>
                    <li><a href="#">оспаривание действий (бездействия) судебного-пристава исполнителя</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
