<div class="section">
    <div class="basic-help autojurist-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>Каждый из нас стремится к построению крепкой семьи. К сожалению, под влиянием ряда факторов могут возникнуть разногласия, решить которые путем переговоров не представляется возможным.</p>
                <p>Мы осознаем деликатность проблем, возникающих в семье и профессионально подходим к решению таких вопросов.</p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul>
                    <!--<li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>-->
                    <li><a href="#">расторжение брака</a></li>
                    <li><a href="#">раздел имущества супругов</a></li>
                    <li><a href="#">определение места жительства детей</a></li>
                    <li><a href="#">определение порядка общения с детьми</a></li>
                    <li><a href="#">ограничение и лишение родительских прав </a></li>
                    <li><a href="#">составление брачных договоров</a></li>
                    <li><a href="#">взыскание алиментов</a></li>
                    <li><a href="#">установление и оспаривание отцовства</a></li>
                    <li><a href="#">усыновление</a></li>
                    <li><a href="#">признание недействительным соглашения об уплате алиментов</a></li>
                    <li><a href="#">признание сделки, заключенной одним из супругов, недействительной</a></li>
                    <li><a href="#">аннулирование брака из-за установления фиктивности семейных отношений</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
