<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="footer__box">
        <div class="footer-salary">
            <div class="footer-salary__item footer-salary__logo">
                <a href="#" class="footer-salary__logo">
                    <img class="footer-salary__logo--img" src="../images/logo-forsite-white.png">
                </a>
                <div class="modal-box">
                    <a class="button footer__modal" data-fancybox href="#question">срочный вопрос</a>
                </div>
            </div>
            <div class="footer-salary__item">
                <ul class="footer-salary__ul">
                    <li class="footer-salary__title"><a href="#">Физическим лицам</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Автоюрист</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Договор долевого участия</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Договорное право</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Жилищное право</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Защита от коллекторов</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Защита прав потребителей</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Земельное право</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Исполнительное производство</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Кредитные споры</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Наследство</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Семейное право</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Социальное обеспечение</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Трудовое право</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Уголовное право</a></li>
                </ul>
            </div>
            <div class="footer-salary__item">
                <ul class="footer-salary__ul">
                    <li class="footer-salary__title"><a href="#">Юридическим лицам</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Абонентское обслуживание</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Арбитражный процесс</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">орпоративное право</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Трудовое право</a></li>
                </ul>
            </div>
            <div class="footer-salary__item">
                <ul class="footer-salary__ul">
                    <li class="footer-salary__title"><a href="#">База знаний</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Абонентское обслуживание</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Арбитражный процесс</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">орпоративное право</a></li>
                    <li class="footer-salary__li"><a class="footer-salary__text" href="#">Трудовое право</a></li>
                </ul>
            </div>
            <div class="footer-salary__item footer-salary__contact">
                <div class="contacts-content">
                    <ul class="contacts-content__box">
                        <li class="contacts-content__box-item"><a href="#">199178, г. Санкт-Петербург, 18-я линия В.О., дом 45</a></li>
                        <li class="contacts-content__box-item"><a href="tel:+78124673957"><b>+7&nbsp812&nbsp467&nbsp39&nbsp57</b></a></li>
                        <li class="contacts-content__box-item"><a href="mailto:ur@forsite-spb.ru">ur@forsite-spb.ru</a></li>
                    </ul>
                    <div class="contacts-content__from-to">
                        <div class="contacts-content__from">
                            <div class="contacts-content__rect">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <span class="contacts-content__work-time">с 10:00 до 21:00</span>
                        </div>
                        <div class="contacts-content__to">
                            <div class="contacts-content__rect">
                                <span></span>
                                <span></span>
                            </div>
                            <span class="contacts-content__work-time">с 10:00 до 19:00</span>
                        </div>
                    </div>
                    <a class="logo-studio" href="#" target="_blank">
                        <span class="logo-studio__text">Дизайн и разработка сайта<br>студия дизайна FT-DESIGN</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->
<script>
    var revision = 130917;    // версия спрайта (текущая дата)
</script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link class="del-pagepiling" rel="stylesheet" href="css/jquery.pagepiling.css">
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="css/develop.css">
<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script class="del-pagepiling" type="text/javascript" src="js/plagins/jquery.pagepiling.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="js/plagins/parallax.min.js"></script>
<script type="text/javascript" src="js/basic_scripts.js"></script>
<script type="text/javascript" src="js/develop.js" ></script>
<script>
    // Pretty simple huh?
//    var scene = document.getElementById('scene');
//    var parallax = new Parallax(scene);
</script>

<!-- endbuild -->

<!-- /SCRIPTS -->