<div class="hidden-block">
    <div id="call_success">
        <div class="call-success">
            <div class="call-title">Спасибо за обращение в нашу компанию, мы свяжемся с вами в ближайшее время</div>
            <button class="call-success__close" data-fancybox-close>OK</button>
        </div>
    </div>
    <div id="call-popup" class="register-modal">
        <form action="ajax.php" name="" class="register">
            <div class="register__title">
                <h5>записаться на бесплатную консультацию</h5>
            </div>
            <div class="register__trigger register__row">
                <span class="register__trigger__span register__visible">Физическое лицо</span>
                <span class="register__trigger__span" >Юридическое лицо</span>
                <div class="register__switch">
                    <input type="checkbox" id="c1"/>
                    <label class="js-register-switch" for="c1"></label>
                </div>
            </div>
            <div class="jurname-row">
                <div class="jurname-row__input">
                    <label class="jurname-row__type">опф *</label>
                    <!--<input type="text" name="register__first-name" required="required" value="" placeholder="OOO">-->
                    <select class="select-ooo">
                        <option>ООО</option>
                        <option>ПАО</option>
                    </select>
                </div>
                <div class="jurname-row__input">
                    <label class="jurname-row__name">наименование *</label>
                    <input type="text" name="register_name" required="required" value="" placeholder="Рога и копыта">
                </div>
            </div>
            <div class="name-row register__row">
                <div class="name-row__input">
                    <label class="name-row__name">Фамилия *</label>
                    <input type="text" name="register__first-name" required="required" value="" placeholder="Константинов">
                </div>
                <div class="name-row__input">
                    <label class="name-row__last-name">Имя *</label>
                    <input type="text" name="register_name" required="required" value="" placeholder="Константин">
                </div>
                <div class="name-row__input">
                    <label class="name-row__surname">отчество</label>
                    <input type="text" name="register_name" required="required" value="" placeholder="Константинович">
                </div>
            </div>
            <div class="contacts-row register__row">
                <div class="contacts-row__input">
                    <label class="contacts-row__tel">телефон *</label>
                    <input type="tel" name="register__tel" class="tel-mask" required="required" value="" placeholder="+7 999 999 99 99">
                </div>
                <div class="contacts-row__input">
                    <label class="contacts-row__email">Email *</label>
                    <input type="email" name="register_name" required="required" value="" placeholder="mail@mail.ru">
                </div>
            </div>
            <div class="message-type-row">
                <div class="message-type-row__input">
                    <label class="message-type-row__type">тематика обращения *</label>
                    <!--<input type="text" name="register__mess-type" required="required" value="" placeholder="Начните вводить">-->
                    <select class="select-theme">
                        <option></option> <!-- должен быть пуст! -->
                        <option>Пункт 1</option>
                        <option>Пункт 2</option>
                        <option>Пункт 3</option>
                        <option>Пункт 4</option>
                    </select>
                </div>
            </div>
            <div class="message-row">
                <div class="message-row__input">
                    <label class="message-row__text">Суть обращения *</label>
                    <textarea rows="8"  name="text" placeholder="Опишите суть вопроса, чтобы наши юристы смогли подготовиться к вашему приходу."></textarea>
                </div>
            </div>
            <div class="times-row register__row">
                <div class="times-row__input">
                    <label class="times-row__calendar">Дата консультации *</label>
                    <input type="date" name="register__calendar" required="required" value="2018-01-01">
                </div>
                <div class="times-row__input">
                    <label class="times-row__time">Время консультации *</label>
                    <input type="time" name="register__time" required="required" value="13:30">
                </div>
                <div class="times-row__item">
                    <button type="submit" class="register__submit">
                        <span>Отправить</span>
                    </button>
                </div>
            </div>
            <p class="register__agreement">Нажимая кнопку «ОТПРАВИТЬ» вы соглашаетесь с условиями политики конфиденциальности, условиями хранения и обработки персональных данных.</p>
        </form>
    </div>
    <div id="question">
        <form action="ajax.php" name="" class="question-form">
            <div class="question-form__title">
                <h5>срочный вопрос</h5>
            </div>
            <div class="question-form__row">
                <div class="question-form__item">
                    <label class="question-form__name">Имя</label>
                    <div class="question-form__item-input">
                        <input type="text" name="contact_name" required="required" value="" placeholder="Константин">
                    </div>
                </div>
                <div class="question-form__item">
                    <label class="question-form__name">Телефон</label>
                    <div class="question-form__item-input">
                        <input type="text" name="contact_tel" value="" required="required" placeholder="+794444444" class="tel-mask">
                    </div>
                </div>
            </div>
            <div class="question-form__row">
                <div class="question-form__item">
                    <button type="submit" class="question-form__submit">
                        <span>Отправить</span>
                    </button>
                </div>
            </div>
            <div class="question-form__row">
                <p class="question-form__item">Нажимая кнопку «ОТПРАВИТЬ», вы соглашаетесь с условиями политики конфиденциальности, условиями хранения и обработки персональных данных.</p>
            </div>
        </form>
    </div>
    <div id="menu" class="popup-menu">
        <div class="popup-menu__box">
            <a class="popup-menu__button" data-fancybox data-src="#call-popup">бесплатная юридическая консультация</a>
            <nav class="nav">
                <ul class="nav__sub">
                    <li class="nav__sub-head"><a href="#">Физическим лицам</a></li>
                    <li><a href="auto-jurist.html">Автоюрист</a></li>
                    <li><a href="share.html">Договор долевого участия</a></li>
                    <li><a href="contractual-right.html">Договорное право</a></li>
                    <li><a href="housing-law.html">Жилищное право</a></li>
                    <li><a href="collector.html">Защита от коллекторов</a></li>
                    <li><a href="consumer.html">Защита прав потребителей</a></li>
                    <li><a href="land-law.html">Земельное право</a></li>
                    <li><a href="executor.html">Исполнительное производство</a></li>
                    <li><a href="credit.html">Кредитные споры</a></li>
                    <li><a href="legacy.html">Наследство</a></li>
                    <li><a href="family-law.html">Семейное право</a></li>
                    <li><a href="social-right.html">Социальное обеспечение</a></li>
                    <li><a href="labor-law.html">Трудовое право</a></li>
                    <li><a href="criminal-law.html">Уголовное право</a></li>
                </ul>
                <ul class="nav__sub">
                    <li class="nav__sub-head"><a href="#">Юридическим лицам</a></li>
                    <li><a data-fancybox data-src="#call-popup">Бесплатная юридическая консультация</a></li>
                    <li><a href="abonents-servises.html">Абонентское обслуживание</a></li>
                    <li><a href="corporate-law.html">Корпоративное право</a></li>
                    <li><a href="labor-law.html">Трудовое право</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>