<div class="section">
    <div class="basic-help housing-law-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p><b>Жилищное право</b> – это отношения между субъектами права, которыми могут выступать физические лица, юридические лица, органы местного самоуправления по вопросам, связанным с жилыми либо нежилыми объектами (помещениями).</p>
                <p>Жилищное законодательство основывается на необходимости обеспечения органами государственной власти и органами местного самоуправления условий для осуществления гражданами права на жилище, его безопасности, на неприкосновенность и недопустимость произвольного лишения жилища, на необходимость беспрепятственного осуществления прав, вытекающих из отношений, регулируемых жилищным законодательством.</p>
                <p>Вместе с тем, в связи с ростом количества нарушений в области жилищного законодательства, ущемляющих права человека, закрепленных, в первую очередь, Конституцией РФ, а также Жилищным и Гражданским Кодексами РФ, возникает обоснованная необходимость в восстановлении и защите этих прав, для чего зачастую требуется юридические услуги.</p>
                <p>Юридическая компания «Форсайт» оказывает квалифицированную юридическую помощь по различным направлениям жилищного права.</p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul>
                    <!--<li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>-->
                    <li><a href="#">споры о возникновении, осуществлении, изменении и прекращении прав владения,пользования и распоряжения жилыми помещениями государственного имуниципального жилищных фондов</a></li>
                    <li><a href="#">перевод жилого помещения в нежилое и исключение его из жилищного фонда</a></li>
                    <li><a href="#">содержание и ремонт жилых помещений и общего имущества  собственников жилья</a></li>
                    <li><a href="#">перерасчет и взыскание с сособственников и зарегистрированных граждан коммунальных платежей</a></li>
                    <li><a href="#">утрата права пользования жилым помещением</a></li>
                    <li><a href="#">постановка на регистрационный учет</a></li>
                    <li><a href="#">снятие с регистрационного учета</a></li>
                    <li><a href="#">споры о выделе доли</a></li>
                    <li><a href="#">споры с ТСЖ и УК</a></li>
                    <li><a href="#">приватизация</a></li>
                    <li><a href="#">залив квартиры</a></li>
                    <li><a href="#">перепланировка</a></li>
                    <li><a href="#">определение порядка пользования квартирой</a></li>
                    <li><a href="#">выселение (вселение)</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
