<div class="section">
    <div class="basic-help land-law-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>Вне зависимости от формы и масштабов вашей организации, будь то парикмахерская или крупный холдинг, риск быть вовлеченным в трудовой спор в связи с незнанием всех аспектов трудового законодательства или же по вине недобросовестного работника, одинаков для всех. Работник в случае нарушения его трудовых прав может обратиться в соответствующие государственные органы для разрешения трудового спора и зачастую такой спор будет решен в его пользу. Кроме того, у работодателей могут возникнуть сложности с надлежащим привлечением работников к дисциплинарной ответственности и увольнением недобросовестных работников, особенно если последние подкованы в вопросах трудового права.</p>
                <p>Чтобы грамотно решать трудовые споры, защищаться от санкций со стороны государственных органов и законно применять к работникам меры ответственности за нарушения различного рода в первую очередь необходимо надлежащим образом организовать кадровую работу организации и ее правовое сопровождение.</p>
                <p>Всегда следует помнить о том, что пробелы в кадровой деятельности на практике оборачиваются существенными финансовыми затратами в виде штрафов, выплатами судебных издержек, компенсациями морального вреда и другими расходами, которых можно избежать при ведении грамотной кадровой политики. Именно поэтому работодатели не менее работников нуждаются в грамотной юридической поддержке.</p>
            </div>
            <div class="basic-help__list">
                <ul>
                    <li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>
                    <li><a href="#">аудит кадрового делопроизводства, приведение его в соответствие с действующим законодательством</a></li>
                    <li><a href="#">разрешение разногласий с ФМС и обжалование штрафов ФМС по вопросам применения иностранной рабочей силы</a></li>
                    <li><a href="#">составление коллективных договоров</a></li>
                    <li><a href="#">разрешение трудовых споров с работниками</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
