<div class="section">
    <div class="basic-help land-law-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>Работа занимает значительное место в нашей жизни, в связи с чем трудовые отношения по своей значимости являются одними из самых важных. Совершенно естественно, что, делая выбор в пользу того или иного работодателя на определенных условиях, мы надеемся на обоюдостороннее выполнение взятых на себя сторонами обязательств, а также на достойные условия труда.</p>
                <p>К сожалению, на сегодняшний день, многие работодатели избегают оформления трудовых отношений с работниками в полном соответствии с нормами действующего законодательства, в связи с чем имеет место большое количество трудовых споров, которые могут возникать из частичной невыплаты заработной платы, необоснованного привлечения к дисциплинарной ответственности, увольнения или отказа в выдаче трудовой книжки.</p>
                <p>Трудовые споры являются одними из самых распространенных, так как затрагивают отношения, участниками которых является каждый трудящийся. Таким образом, каждый может оказаться в ситуации, в которой работодатель тем или иным образом ущемляет права работника, отказываясь при этом вести конструктивный диалог и самоустраняясь от разрешения спора. В таких случаях необходима квалифицированная юридическая помощь.</p>
                <p>Наши юристы представят ваши интересы в переговорах с работодателем, помогут в претензионном и судебном порядке отстоять или восстановить нарушенные права.</p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul>
                    <!--<li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>-->
                    <li><a href="#">незаконное увольнение</a></li>
                    <li><a href="#">невыплата заработной платы </a></li>
                    <li><a href="#">компенсация за неиспользованный отпуск</a></li>
                    <li><a href="#">правовая экспертиза трудового соглашения</a></li>
                    <li><a href="#">изменение условий трудового договора, в том числе в части правомерности действий работодателя при переводе сотрудника на другое место, должность</a></li>
                    <li><a href="#">восстановление на работе</a></li>
                    <li><a href="#">назначении негосударственных пенсий.</a></li>
                    <li><a href="#">привлечение к дисциплинарной ответственности</a></li>
                    <li><a href="#">обжалование условий предоставления отпусков</a></li>
                    <li><a href="#">возмещение убытков, связанных с причинением ущерба здоровью работника во время выполнения своих трудовых обязанностей.</a></li>
                    <li><a href="#">взыскание морального и материального ущерба с работодателя</a></li>
                    <li><a href="#">трудовые споры об аннулировании и изменении записей в трудовой книжке</a></li>
                    <li><a href="#">трудовые споры о признании факта работы и отношений трудовыми</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
