<div class="section">
    //= header.html
    <div class="basic-help land-law-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>Большинство владельцев земельных участков рано или поздно сталкиваются с необходимостью совершения ряда юридических действий со своей землей, связанных с правами владения, пользования и распоряжения.</p>
                <p>Разрешение земельных споров является сложным из-за возникающих межличностных конфликтов с сособственниками данных участков и собственниками соседних земельных участков, а также в связи с зачастую необоснованными решениями органов государственной власти и необходимостью отстаивать свои права в суде.</p>
                <p>Наша практика показывает, что решение земельных споров хоть и является трудоемким процессом, но при грамотном подходе дает положительные результаты в разумные сроки.</p>
                <p>Мы предлагаем свою помощь в решении вопросов с землей.</p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul>
                    <!--<li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>-->
                    <li><a href="#">перевод земли из одной категории в другую</a></li>
                    <li><a href="#">оформление земельного участка в собственность</a></li>
                    <li><a href="#">постановка участка на кадастровый учет</a></li>
                    <li><a href="#">установление и восстановление границ земельного участка</a></li>
                    <li><a href="#">признание акта согласования границ земельного участка недействительным</a></li>
                    <li><a href="#">исправление кадастровой ошибки</a></li>
                    <li><a href="#">оспаривание кадастровой стоимости земельного участка</a></li>
                    <li><a href="#">определение порядка пользования земельным участком</a></li>
                    <li><a href="#">признание права собственности</a></li>
                    <li><a href="#">определение доли в совместной собственности</a></li>
                    <li><a href="#">оспаривание решения государственных органов</a></li>
                    <li><a href="#">споры, связанные с расторжением договоров купли-продажи, аренды, дарения земельного участка</a></li>
                    <li><a href="#">истребование земельного участка из чужого незаконного владения</a></li>
                    <li><a href="#">снятие запрета на совершение регистрационных действий</a></li>
                    <li><a href="#">снос самовольно возведенной постройки</a></li>
                    <li><a href="#">установление сервитута</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
