<div class="section">
    <div class="basic-help legacy-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>Зачастую процесс вступления в наследство является достаточно непростым и длительным, а также может быть осложнен разногласиями между наследниками различных очередей, в том числе с правом обязательной доли в наследстве, особенно если наследодатель не оставил надлежащим образом оформленного завещания.</p>
                <p>Затягивание таких споров может повлечь за собой пропуск срока для вступления в наследство, что в свою очередь может привести к необратимым последствиям.</p>
                <p>Мы обладаем достаточным опытом в решении таких споров, чтобы помочь Вам разобраться в хитросплетениях наследственного права и принять наследство в положенном объеме в установленный законом срок.</p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul>
                    <!--<li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>-->
                    <li><a href="#">вступление в наследство по закону и завещанию</a></li>
                    <li><a href="#">споры по долям в наследстве</a></li>
                    <li><a href="#">оспаривание завещания</a></li>
                    <li><a href="#">признание завещания недействительным</a></li>
                    <li><a href="#">восстановление сроков вступления в наследство</a></li>
                    <li><a href="#">установление факта родственных отношений</a></li>
                    <li><a href="#">фактическое принятие наследства</a></li>
                    <li><a href="#">право на обязательную долю в наследстве</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
