<div id="pagepiling">
    //= header.html
    <div class="section">
        <div class="main">
            <div class="main__img">
                <div id="main-parallax" class="scene">
                    <div data-depth="-0.10" class="main__bg-person"><img src="../images/bg-parallax.jpg" alt="" width="2200" height="1240"></div>
                    <div data-depth="0.10" class="main__person"><img src="../images/person-1.png" alt="" height="2000" width="1920"></div>
                </div>
            </div>
            <div class="main__text">
                <h1 class="main__h1">юридические услуги</h1>
                <p class="main__desc">юрист, как лечащий врач — должен быть высшей категории</p>
                <a class="button main__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
            <div class="button_down" id="scroll_down">
                <div class="mouse">
                    <div class="wheel"></div>
                </div>
                <div>
                    <span class="m_scroll_arrows unu"></span>
                    <span class="m_scroll_arrows doi"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="about">
            <div class="about__content">
                <div class="about__text">
                    <p class="about__paragraph">Форсайт означает «предвидение», а исходя из этого, в своей профессиональной деятельности мы прежде всего предусматриваем все возможные варианты развития событий еще до того, как начинаем действовать, с целью выработки наиболее подходящей стратегии в решении поставленных задач и учета законных прав и интересов наших клиентов.</p>
                    <p class="about__paragraph">Среди основных приоритетов компании – индивидуальный подход к решению каждой поставленной задачи. В связи с этим, мы постоянно совершенствуем нашу работу, чтобы отвечать всем, даже самым деликатным запросам и ожиданиям наших клиентов.</p>
                    <p class="about__paragraph">Среди основных приоритетов компании – индивидуальный подход к решению каждой поставленной задачи. В связи с этим, мы постоянно совершенствуем нашу работу, чтобы отвечать всем, даже самым деликатным запросам и ожиданиям наших клиентов.</p>
                    <a class="button about__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
                </div>
                <div class="about__img">
                    <h2 class="about__h2">о компании</h2>
                    <img src="../images/about.jpg" alt="about us" width="1080" height="880">
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="services">
            <div class="services__img">
                <div id="scene" class="scene">
                    <div data-depth="-0.10" class="services__bg-person"><img src="../images/bg-services.jpg" alt="" width="1920" height="1080"></div>
                    <div data-depth="0.10" class="services__person"><img src="../images/person-2.png" alt="" height="1382" width="1920"></div>
                </div>
            </div>
            <div class="services__text">
                <h2 class="services__h2">полный спектр услуг</h2>
                <div class="services__icons">
                    <div class="services__icons-item">
                        <span class="services__icons-text">Представительство в суде</span>
                    </div>
                    <div class="services__icons-item">
                        <span class="services__icons-text">представительство в органах государственной власти</span>
                    </div>
                    <div class="services__icons-item">
                        <span class="services__icons-text">представительство в любых организациях</span>
                    </div>
                    <div class="services__icons-item">
                        <span class="services__icons-text">консультации</span>
                    </div>
                    <div class="services__icons-item">
                        <span class="services__icons-text">сопровождение сделок комплексное обслуживание</span>
                    </div>
                </div>
                <div class="services__tabs">
                    <ul class="services__click switch__container">
                        <li><a href="#tab1" class="switch__link active">физическим</a></li>
                        <li><a href="#tab2" class="switch__link">Юридичеким</a></li>
                        <li class="switch__static"><a>лицам</a></li>
                    </ul>
                    <div class="services__view tab-container">
                        <div class="services__tab tab" id="tab1">
                            <ul>
                                <li><a href="#">Бесплатная юридическая консультация</a></li>
                                <li><a href="#">Автоюрист</a></li>
                                <li><a href="#">Договор долевого участия</a></li>
                                <li><a href="#">Договорное право</a></li>
                                <li><a href="#">Жилищное право</a></li>
                                <li><a href="#">Защита от коллекторов</a></li>
                                <li><a href="#">Защита прав потребителей</a></li>
                                <li><a href="#">Земельное право</a></li>
                                <li><a href="#">Исполнительное производство</a></li>
                                <li><a href="#">Кредитные споры</a></li>
                                <li><a href="#">Наследство</a></li>
                                <li><a href="#">Семейное право</a></li>
                                <li><a href="#">Социальное обеспечение</a></li>
                                <li><a href="#">Трудовое право</a></li>
                                <li><a href="#">Уголовное право</a></li>
                            </ul>
                        </div>
                        <div class="services__tab tab" id="tab2">
                            <ul>
                                <li><a href="#">Бесплатная юридическая консультация</a></li>
                                <li><a href="#">Абонентское обслуживание</a></li>
                                <li><a href="#">Корпоративное право</a></li>
                                <li><a href="#">Трудовое право</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a class="button services__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="why-we">
            <div class="why-we__img">
                <div id="why-we-parallax" class="scene why-we__parallax">
                    <div data-depth="-0.10" class="why-we__bg-person"><img src="../images/bg-why-we.jpg" alt="" width="1920" height="1080"></div>
                    <div data-depth="0.10" class="why-we__person"><img src="../images/person-3.png" alt="" height="1324" width="1920"></div>
                </div>
            </div>
            <div class="why-we__text">
                <h2 class="why-we__h2">почему мы?</h2>
                <div class="why-we__content">
                    <div class="why-we__slider-wrap">
                        <div class="why-we__slider-nav">
                            <div class="why-we__slider-nav-item"><span>Команда профессионалов</span></div>
                            <div class="why-we__slider-nav-item"><span>Конфиденциальность</span></div>
                            <div class="why-we__slider-nav-item"><span>Минимизация рисков</span></div>
                            <div class="why-we__slider-nav-item"><span>Индивидуальный подход</span></div>
                            <div class="why-we__slider-nav-item"><span>Бесплатная консультация</span></div>
                            <div class="why-we__slider-nav-item"><span>В ногу со временем</span></div>
                            <div class="why-we__slider-nav-item"><span>Только законные методы работы</span></div>
                            <div class="why-we__slider-nav-item"><span>Работа на результат</span></div>
                        </div>
                    </div>
                    <div class="why-we__slider-wrap">
                        <div class="why-we__slider">
                            <div class="why-we__slider-item"><p>Высшее юридическое образование и большой опыт работы наших юристов как в системе государственных органов (в том числе правоохранительных), так и коммерческих организаций являются гарантами компетентности и позволяют предоставлять клиентам услуги высокого качества. Профессиональный штат опытных юристов позволяет комплексно рассматривать вопросы каждого клиента и вырабатывать наиболее оптимальный подход к выполнению поставленных задач.</p></div>
                            <div class="why-we__slider-item"><p>Мы соблюдаем полную конфиденциальность договорных отношений, так как являемся компанией, которая дорожит своей репутацией и репутацией своих клиентов и соблюдает законодательство в сфере защиты персональных данных.</p></div>
                            <div class="why-we__slider-item"><p>Мы считаем управление рисками одной из основных задач. Именно поэтому мы не только предусматриваем возможные последствия, но и предупреждаем их, о чем всегда ставим в известность наших клиентов для выработки наиболее подходящей стратегии в решении проблем.</p></div>
                            <div class="why-we__slider-item"><p>Мы стремимся найти оптимальное решение для каждой ситуации, чтобы максимально удовлетворять потребностям наших клиентов, учитывая их материальные возможности и пожелания.</p></div>
                            <div class="why-we__slider-item"><p>Прежде чем начать работу с клиентом, мы осуществим бесплатную консультацию в рамках которой разберем существо возникшей проблемы, изучим имеющиеся документы, после чего проведем правовой анализ ситуации, разъясним клиенту особенности его положения, предложим пути решения и уточним перспективы по каждому из них.</p></div>
                            <div class="why-we__slider-item"><p>В своей профессиональной деятельности мы используем регулярно обновляемые правовые системы, чтобы действовать согласно последней букве закона.</p></div>
                            <div class="why-we__slider-item"><p>Мы основываемся исключительно на нормах действующего законодательства и не прибегаем к приемам и методам, которые могут привести к негативным последствиям как для клиентов, так и для самой компании.</p></div>
                            <div class="why-we__slider-item"><p>Мы дорожим нашими клиентами. Уже в рамках первичной консультации мы сообщим чего можно достичь и скажем если вам не выгодно идти тем или иным путем. В решении вашего вопроса мы сделаем все необходимое для достижения положительного результата.</p></div>
                        </div>
                    </div>
                </div>
                <a class="button why-we__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="steps">
            <div class="steps__video">
                <video id="bgvid" class="video" width="" height="" autoplay preload loop muted  poster="../images/steps_video.jpg">
                    <source src="../images/steps_video.mp4" type="video/mp4" >
                    <source src="../images/steps_video.webmhd.webm" type="video/webm" >
                    <source src="../images/steps_video.oggtheora.ogv" type="video/ogv" >
                </video>
            </div>
            <div class="steps__content">
                <h2 class="steps__h2">этапы сотрудничества</h2>
                <div class="steps__slider-view">
                    <div class="steps-slider-wrap">
                        <div class="steps-slider">
                            <img class="steps-slider__img" src="../images/steps-1.png" alt="" width="100" height="100">
                            <h3 class="steps-slider__head">Заявка</h3>
                            <p class="steps-slider__desc">оставьте заявку с кратким описанием вашего вопроса</p>
                        </div>
                    </div>
                    <div class="steps-slider-wrap">
                        <div class="steps-slider">
                            <img class="steps-slider__img" src="../images/steps-2.png" alt="" width="100" height="100">
                            <h3 class="steps-slider__head">звонок</h3>
                            <p class="steps-slider__desc">мы перезвоним вам в кратчайшие сроки</p>
                        </div>
                    </div>
                    <div class="steps-slider-wrap">
                        <div class="steps-slider">
                            <img class="steps-slider__img" src="../images/steps-3.png" alt="" width="100" height="100">
                            <h3 class="steps-slider__head">запись на консультацию</h3>
                            <p class="steps-slider__desc">наш юрист сделает уточнение по вашему вопросу и запишет вас на консультацию</p>
                        </div>
                    </div>
                    <div class="steps-slider-wrap">
                        <div class="steps-slider">
                            <img class="steps-slider__img" src="../images/steps-4.png" alt="" width="100" height="100">
                            <h3 class="steps-slider__head">напоминание</h3>
                            <p class="steps-slider__desc">в назначенный день мы напомним о встрече и уточним местонахождение компании</p>
                        </div>
                    </div>
                    <div class="steps-slider-wrap">
                        <div class="steps-slider">
                            <img class="steps-slider__img" src="../images/steps-5.png" alt="" width="100" height="100">
                            <h3 class="steps-slider__head">консультация</h3>
                            <p class="steps-slider__desc">в рамках консультации наш юрист разберет ваш вопрос, изучит имеющиеся документы, проведет правовой анализ ситуации и предложит пути решения</p>
                        </div>
                    </div>
                    <div class="steps-slider-wrap">
                        <div class="steps-slider">
                            <img class="steps-slider__img" src="../images/steps-6.png" alt="" width="100" height="100">
                            <h3 class="steps-slider__head">подписание договора</h3>
                            <p class="steps-slider__desc">в конце консультации мы сможем перейти к договорной форме сотрудничества и в случае подписания договора возьмем на себя все обязательства по скорейшему и максимально эффективному решению вашего вопроса</p>
                        </div>
                    </div>
                </div>
                <a class="button steps__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="contacts">
            <div class="contacts__map" id="map"></div>
            <div class="contacts-content">
                <h2 class="contacts-content__h2">связаться с нами</h2>
                <ul class="contacts-content__box">
                    <li class="contacts-content__box-item"><a href="#">199178, г. Санкт-Петербург, 18-я линия В.О., дом 45</a></li>
                    <li class="contacts-content__box-item"><a href="tel:+78124673957"><b>+7&nbsp812&nbsp467&nbsp39&nbsp57</b></a></li>
                    <li class="contacts-content__box-item"><a href="mailto:vlad@htmlbook.ru">vlad@htmlbook.ru</a></li>
                </ul>
                <div class="contacts-content__from-to">
                    <div class="contacts-content__from">
                        <div class="contacts-content__rect">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <span class="contacts-content__work-time">с 10:00 до 21:00</span>
                    </div>
                    <div class="contacts-content__to">
                        <div class="contacts-content__rect">
                            <span></span>
                            <span></span>
                        </div>
                        <span class="contacts-content__work-time">с 10:00 до 19:00</span>
                    </div>
                </div>
                <a class="button contacts-content__button" data-fancybox data-src="#call-popup">заявка на бесплатную консультацию</a>
            </div>
            <div class="contacts__img">
                <div id="contacts-parallax" class="scene contacts__parallax">
                    <div data-depth="-0.10" class="contacts__bg-person"><img src="../images/bg-parallax.jpg" alt="" width="2200" height="1240"></div>
                    <div data-depth="0.10" class="contacts__person"><img src="../images/person-4-2.png" alt="" height="" width=""></div>
                </div>
            </div>
        </div>
    </div>
</div>