<div class="section">
    <div class="basic-help share-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>Инфраструктура страны и г. Санкт-Петербурга, в частности, постоянно находится в движении и развивается в ногу со временем. Однако, право гражданина на жилище, закрепленное в Конституции РФ, все чаще и чаще ущемляется недобросовестными застройщиками и кооперативами, мошенниками и аферистами. Так, например, заключаются многоуровневые сделки, где в итоге собственниками одного и того же жилого помещения являются абсолютно незнакомые друг другу люди, либо застройщик неограниченное количество раз переносит передачу имущества в собственность, уклоняется от подписания актов передачи имущества и выдачи ключей, требует дополнительные доплаты по неверно рассчитанному метражу жилой площади, банкротится и иными способами ущемляет права дольщиков.</p>
                <p>Нередки случаи переуступки права требования на имущество, а также образование жилищных кооперативов, которые регламентируются уже не федеральным законом № 214-ФЗ, а иными нормами гражданского законодательства РФ.</p>
                <p>Зачастую спорные моменты возникают в связи с юридической неподкованностью населения. При неправильном подходе юридические последствия могут быть необратимыми.</p>
            </div>
            <div class="basic-help__list">
                <ul>
                    <li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>
                    <li><a href="#">взыскание неустойки застройщика за просрочку передачи помещения</a></li>
                    <li><a href="#">взыскание с застройщика стоимости переплаченной площади</a></li>
                    <li><a href="#">внесение изменений в технический паспорт с учетом понижающего коэффициента технических характеристик площади балкона и общей площади квартиры</a></li>
                    <li><a href="#">включение требований о передаче жилого помещения в реестртребований кредиторов при банкротстве застройщика</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>


