<div class="section">
    //= header.html
    <div class="basic-help social-right-help">
        <h2  class="basic-help__h2">мы можем помочь</h2>
        <div class="basic-help__box">
            <div class="basic-help__desc">
                <p>Под социальным обеспечением понимается система социально-экономических мер по борьбе с необеспеченностью граждан государства. Правом социального обеспечения регулируются: назначение пенсий, пособий, социальных доплат, льгот, компенсаций, оказание социальных услуг, предоставление специальных прав.</p>
                <p>Количество названных мер по борьбе с необеспеченностью граждан является значительным, что порождает и значительное количество различных споров с государственными органами в сфере социального обеспечения. Зачастую практика применения норм права в данной сфере отличается от толкования закона, что в свою очередь исключает реализацию прав граждан, затягивает их реализацию или же реализует не в полной мере и степени.</p>
                <p>Мы поможем реализовать все положенные вам права.</p>
            </div>
            <div class="basic-help__list">
                <h5 class="basic-help__h5">помогаем в вопросах</h5>
                <ul>
                    <!--<li class="basic-help__list-head"><a href="#">помогаем в вопросах</a></li>-->
                    <li><a href="#">обжалование отказа в назначении досрочной пенсии</a></li>
                    <li><a href="#">перерасчет пенсии</a></li>
                    <li><a href="#">включение периодов работы в трудовой стаж</a></li>
                    <li><a href="#">восстановление пенсионного коэффициента при переводе пенсии</a></li>
                    <li><a href="#">обжалование решения пенсионного органа об отказе во включении отпуска по уходу за ребёнком в стаж работы</a></li>
                    <li><a href="#">установление факта уплаты в определенные периоды работы страховыхвзносов в ПФ РФ и ФНС</a></li>
                    <li><a href="#">установление факта полной занятости на некоторых видах работ</a></li>
                    <li><a href="#">положенные пенсии и льготы </a></li>
                    <li><a href="#">признание малоимущим</a></li>
                    <li><a href="#">льготы многодетным родителям </a></li>
                    <li><a href="#">льготы пенсионерам</a></li>
                    <li><a href="#">льготы инвалидам и ветеранам ВОВ</a></li>
                    <li><a href="#">льготы ветеранам труда</a></li>
                    <li><a href="#">льготы матерям-одиночкам</a></li>
                    <li><a href="#">льготы участникам боевых действий</a></li>
                    <li><a href="#">иные льготы, пособия и социальные выплаты отдельным слоям населения</a></li>
                    <li><a href="#">улучшение жилищных условий</a></li>
                    <li><a href="#">социальные выплаты малоимущим, по потере кормильца и др.</a></li>
                </ul>
                <a class="button basic-help__button" data-fancybox data-src="#call-popup">записаться на бесплатную консультацию</a>
            </div>
        </div>
    </div>
</div>
